fastapi
uvicorn[standard]
python-multipart
pydantic
passlib[bcrypt]
python-jose
tensorflow
opencv-python-headless
numpy
Pillow
segmentation-models
streamlit
requests
matplotlib
imutils
tqdm
IPython
fpdf